export aleoRpc=http://localhost:3030
export aleoAcc0=
export aleoAcc0View=
export aleoAcc0Key=
export aleoAcc1=
export aleoAcc1View=
export aleoAcc1Key=
export aleoAcc2=
export aleoAcc2View=
export aleoAcc2Key=