{
  "program": "aleoswap05.aleo",
  "version": "0.5",
  "description": "A decentralized exchange (DEX) built on the Aleo blockchain",
  "development": {
    "private_key": "APrivateKey1zkpFNWDiRwsxFKCD69NhVVZVt1esDEqv8L5R6vknktYuviQ",
    "address": "aleo1nphxru452df0p2sf4nguh320j4md8p80v2fjmnnrg42vjrjycs8qa9m7yp"
  },
  "license": "Apache License 2.0"
}
